// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
// Variables
@import "variables";

// //destyle.css
@import './destyle.css';

//vuetify
@import '~vuetify/dist/vuetify.min.css';


// $color-orange : #EB8E4B;
$color-orange: #FAAE2B;

//$color-gray: #767676;
$color-gray : #00473E;

$color-gray2 : #FAFAFA;
//$color-gray2: F2F7F5;

$color-blue : #84A6F4;

// $color-red : #F48484;
$color-red: #FF1A1A;

$color-black : #252525;
$color-black1 : #4D4D4D;
$color-white : #fff;

/*共通部分?*/

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    letter-spacing: 0.01em;
}


@import './header.scss';
@import './button.scss';
@import './form.scss';
@import './home.scss';
@import './situation.scss';
@import './question.scss';
@import './pages.scss';
// @import './login.scss';
// @import './form_page.scss';
@import './user_page.scss';
