// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'header.scss';

$color-orange : #EB8E4B;
$color-gray : #767676;
$color-gray2 : #FAFAFA;
$color-blue : #84A6F4;
$color-red : #F48484;
$color-black : #252525;
$color-white : #fff;
