.button {
    background-color: $color-orange;
    color: $color-white;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    width: 126px;
    height: 50px;
    border-radius: 4px;
}

.button:hover {
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.25));
}

.submit-button {
    width: 100%;
    height: 64px;
    border-radius: 11px;
}

// .button_orange{
//     border-radius: 11px;
//     background-color: $color-orange;
//     width: 400px;
//     height: 64px;
//     text-align: center;
//     size: 18px;
//     color: $color-white;
//     font-family: Noto Sans JP;
//     font-style: normal;
//     font-weight: bold;
//     line-height: 26px;
// }

// }

// .button_orange:active{
//     .button_chara{
//         opacity: 0.55;
//     }
// }
