.form {
    color: $color-gray;
    position: relative;
    margin: 0 0 32px 0;
    /* margin-bottom: 最低20pxないと、err文みえなくなる*/
    /*bottomのpxで次のformとの間隔を調整*/

    label {
        background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, #fff 50%, #fff 100%);
        position: absolute;
        top: -10px; left: 16px;
        font-size: 14px;
        line-height: 20px;
        padding: 0 4px;
    }

    input {
        background-color: #fff;
        font-size: 18px;
        line-height: 26px;
        box-sizing: border-box;
        border: solid 4px $color-gray;
        border-radius: 11px;
        outline: none;
        width: 100%;
        height: 64px;
        padding-left: 16px;
    }
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield;
    }

    .err_msg {
        color: $color-red;
        position: absolute;
        top: 64px;
        font-size: 14px;
        line-height: 20px;
    }
}

.form_focus {
    label {
        color: $color-orange;
    }
    input {
        border: solid 4px $color-orange;
    }
}

.form_err {
    label {
        color: $color-red;
    }
    input {
        border: solid 4px $color-red;
    }
}
