.header-wrap {
    z-index: 99;
    header {
        position: fixed;
        z-index: 99;
        top: 0;
        width: 100%;
        height: 80px;
        background-color: $color-white;
        display: flex;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: $color-black;
    }
    img {
        width: 150px;
    }
    nav {
        margin: 0 0 0 auto;
    }
    ul {
        list-style: none;
        margin: 0;
        display: flex;
    }
    li {
        margin: 0 0 0 15px;
        font-size: 14px;
    }
    .header-register {
        text-align: center;
        border-radius: 5px;
        background-color: $color-orange;
        padding: 15px 0px;
        font-weight: 700;
        letter-spacing: 0.01em;
        height: 50px;
        a {
            color: $color-white;
            padding: 1.5em 1.3em;
        }
    }
    .header-login {
        text-align: center;
        padding: 1.1em 1.3em;
        letter-spacing: 0.01em;
        font-weight: 700;
        height: 50px;
        a {
            padding: 1.1em 1.3em;
        }
    }
    .header-yoyaku {
        text-align: center;
        border-radius: 5px;
        background-color: $color-orange;
        padding: 15px 0px;
        font-weight: 700;
        letter-spacing: 0.01em;
        height: 50px;
        margin-top: 15px;
        a {
            color: $color-white;
            padding: 1.5em 1.3em;
        }
    }
    .header-usericon {
        img {
            width: 80px;
            margin-right: 15px;
        }
    }
    margin-bottom: 80px;
}
