.user-page-wrap {
    width: 70%;
    min-width: max-content;
    margin: 0 auto;
    padding: 0 0; //vuetify初期装備のpadding消去

    .user-page-title, .user-page-tabs{
        color: $color-gray;
    }
    .user-page-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 52px;
    }

    .border{
        margin-top: 32px;
        margin-bottom: 48px;
        border-top: 1px solid $color-gray;
    }

    .user-page-tabs {
        font-size: 18px;
        line-height: 26px;
        div{
            margin-bottom: 32px;
        }
        div:hover {
            cursor: pointer;
        }
        .selected{
            font-weight: 500;
        }
    }

    .user-page-screens {
        .form-screen{
            width: 400px;
            margin: 0 auto;
        }
        .list-screen{
            color: $color-gray;
            width: 100%;
            // margin-left: 90px;
            font-size: 18px;
            line-height: 26px;
            .reserve{
                width: 100%;
                background-color: blue;
                align-items: center;
                margin-bottom: 32px;
            }
            .reserve-detail{
                .card{
                    color: $color-gray;
                    border: 1px solid #D2D2D2;
                    border-radius: 8px;
                    .card-title{
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 34px;
                    }
                    .card-contents{
                        font-size: 18px;
                        line-height: 26px;
                        #map{
                            margin: 32px 0;
                        }
                        .list-item{
                            justify-content: start;
                            margin-bottom: 25px;
                        }
                        .list-item:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
                .detail{
                    padding: 32px;
                }
                .cost{
                    padding: 32px 16px;
                }
                // .card-num{

                // }
            }
        }
    }
}
