.user-page-wrap {
    width: 60%;
    min-width: max-content;
    margin: 0 auto;
    padding: 0 0; //vuetify初期装備のpadding消去

    .user-page-title, .user-page-tabs{
        color: $color-gray;
    }
    .user-page-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 52px;
    }

    hr{
        margin-top: 32px;
        margin-bottom: 48px;
        border-top: 1px solid $color-gray;
    }

    .user-page-tabs {
        font-size: 18px;
        line-height: 26px;
        div{
            margin-bottom: 32px;
        }
        div:hover {
            cursor: pointer;
        }
        .selected{
            font-weight: 500;
        }
    }

    .user-page-screens {
        .form-screen{
            width: 400px;
            margin: 0 auto;
        }
        .list-screen{
            margin-left: 90px;
        }
    }
}
